<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scala=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>mini</title>
</head>
<body>
    <div id="app">
    /* react DOM*/
    </div>
    <script>
        Array.prototype.remove = function(val) { 
            var index = this.indexOf(val); 
            if (index > -1) { 
            this.splice(index, 1); 
            } 
        }; 
    </script>

    <!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=75BBZ-66QKX-EHO4H-7Z3UU-TGOI3-PGBKZ"></script>
    <script>
        window.QMap = qq.maps;
    </script>
    <script src="/static/vendors.js"></script>
    <script src="/static/components.js"></script>
    <script type="text/javascript" src="/static/md5.js"></script>
    <script src="/static/index.js"></script>
    <!-- <script src="message.js"></script>
    <script src="commend.js"></script>
    <script src="citywide.js"></script>
    <script src="attention.js"></script>
    <script src="userinfo.js"></script> -->

</body>
</html>